.duration {
  display: flex;
  align-items: baseline;
  gap: 8px;

  .ant-switch {
    min-width: 70px;
  }

  .ant-form-item {
    flex-grow: 1;
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
