@use "../../vars/colors.scss" as *;

.login-page {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;
  background-color: #fff6f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.login-logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(50vh - 96px);
}

.login-logo {
  width: 96px;
  height: 96px;
  background-color: $muhtar-primary;
  border-radius: 50%;
  box-shadow: 0 0 192px 256px rgba($color: $muhtar-primary, $alpha: 1);
  object-fit: cover;
  animation: pulse 12s infinite linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 192px 256px rgba($color: $muhtar-primary, $alpha: 1);
  }
  10% {
    box-shadow: 32px -24px 200px 280px rgba($color: $muhtar-primary, $alpha: 1);
  }
  20% {
    box-shadow: -24px 8 188px 248px rgba($color: $muhtar-primary, $alpha: 1);
  }
  30% {
    box-shadow: 0 32px 164px 240px rgba($color: $muhtar-primary, $alpha: 1);
  }
  40% {
    box-shadow: -24px 16px 204px 268px rgba($color: $muhtar-primary, $alpha: 1);
  }
  50% {
    box-shadow: 24px -24px 212px 280px rgba($color: $muhtar-primary, $alpha: 1);
  }
  60% {
    box-shadow: -16px 16px 196px 256px rgba($color: $muhtar-primary, $alpha: 1);
  }
  70% {
    box-shadow: 0 -23px 208px 272px rgba($color: $muhtar-primary, $alpha: 1);
  }
  80% {
    box-shadow: 32px 16px 220px 300px rgba($color: $muhtar-primary, $alpha: 1);
  }
  90% {
    box-shadow: -16px 0px 204px 248px rgba($color: $muhtar-primary, $alpha: 1);
  }
  100% {
    box-shadow: 0 0 192px 256px rgba($color: $muhtar-primary, $alpha: 1);
  }
}

.login-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  min-width: 300px;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
  border-radius: 32px;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 24px 0 rgba($color: #141414, $alpha: 0.1);
  margin: 0 auto;
  z-index: 1;
}

.login-form {
  width: 100%;
  z-index: 1;
}

.login-button {
  width: 100%;
}
