.Workers {
  display: flex;
  flex-direction: row;

  height: 100%;
  overflow: hidden;

  &-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 16px 0;

    .ant-select {
      width: 208px;
    }
  }

  &-content {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: auto;

    h2 {
      margin: 0;
    }
  }
}

.WorkerRow {
  display: flex;
  gap: 12px;
  row-gap: 8px;
  flex-wrap: wrap;
  align-items: flex-start;

  &-headline {
    flex-grow: 1;
    > h5,
    div {
      margin: 0;
    }
  }

  &-summary {
    display: flex;
    gap: 12px;

    padding-top: 2px;

    &-item {
      .ant-statistic-title {
        margin-bottom: 0;
      }
    }
  }
}

.WorkerPage {
  &-overview {
    &-header {
      display: flex;
      align-items: baseline;
      gap: 8px;

      h5 {
        flex-grow: 1;
      }
    }
  }

  &-chart {
    width: 200px;
    height: 100px;

    &-tooltip {
      background-color: #333333;
      color: #ffffff;
      padding: 8px;
      border-radius: 8px;
      font-size: 12px;
      line-height: 14px;

      .label,
      .value {
        margin: 0;
      }

      .label {
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
  }
}
