.Workers {
  h2 {
    margin: 0;
    margin-bottom: 16px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px 24px;
    background-color: #ffffff;
    border-radius: 16px;
  }
}

.WorkerRow {
  display: flex;
  gap: 24px;
  row-gap: 12px;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 12px 8px;
  border-bottom: 1px solid #eeeeee;

  &:hover {
    background-color: #fafafa;
  }

  &-headline {
    flex-grow: 1;
    > h4,
    div {
      margin: 0;
    }
  }

  &-params {
    display: flex;
    gap: 12px;

    &-chart {
      width: 200px;
      height: 100px;
    }

    .WorkerRow-chart-tooltip {
      background-color: #333333;
      color: #ffffff;
      padding: 8px;
      border-radius: 8px;
      font-size: 12px;
      line-height: 14px;

      .label,
      .value {
        margin: 0;
      }

      .label {
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
  }
}
