.EditMembershipModal {
  &-form {
    padding-top: 16px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-actions {
      display: flex;
      gap: 8px;
    }
  }
}
