.Resources {
  &-filters {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-right: 12px;
    margin-bottom: 22px;
  }

  &-row-deleted {
    opacity: 0.4;
  }
}

.totalHint {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: baseline;
  gap: 12px;
  padding: 8px 5px 8px 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #ffffff;
  filter: drop-shadow(0px 9px 28px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.08));

  &-filtered:not(.totalHint-selected) {
    padding-right: 20px;
  }

  &-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.TimeEditModal-form {
  margin-top: 24px;
}
