.StageCard {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background-color: #ffffff;

  overflow: hidden;

  &-status {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    &-label {
      font-weight: 600;
    }

    &._backlog {
      color: rgba(0, 0, 0, 0.8);
      background-color: #f5f5f5;
    }

    &._inProgress {
      color: #1677ff;
      background-color: #e6f4ff;
    }

    &._completed {
      color: #52c41a;
      background-color: #f6ffed;
    }

    &._canceled {
      color: #dc2626;
    }
  }

  &-content {
    padding: 8px 12px;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      display: flex;
      align-items: center;
      gap: 2px;

      h5 {
        margin: 0;
      }
    }

    &-expandButton {
      margin-top: 2px;
    }
  }

  &-expandedContent {
    padding-bottom: 6px;
  }

  &-budget {
    padding: 8px 12px;
    width: 100%;
    border-radius: 4px;
    background-color: #f5f5f5;

    .ppw-budget-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .ppw-budget-amounts {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}

/* Widget Container */
.ppw-stages-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ppw-stage-warning {
  background-color: #fffbeb;
  border: 1px solid #fcd34d;
  padding: 4px 8px;
  border-radius: 0.375rem;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #b45309;
}

/* Dates Display */
.ppw-dates-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #4b5563;
  flex-wrap: wrap;
}
