.SidebarNav {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  &._collapsed {
    width: 88px;

    .SidebarNav-header {
      justify-content: center;
    }
  }

  &-header {
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 16px;
    padding-bottom: 0;
    background-color: #f5f5f5;
    text-decoration: none;

    box-shadow: -12px 4px 8px 12px #f5f5f5;

    & > a {
      height: 40px;
    }
  }

  &-logo {
    height: 40px;
  }

  &-contentWrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
    padding: 12px 12px;
  }

  &-widgets {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-footer {
    z-index: 2;
    background: none;
    padding: 12px 12px;
    padding-top: 0;

    box-shadow: -12px -4px 8px 12px #fff6f0;
  }

  &-user {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 12px 0 rgba($color: #141414, $alpha: 0.1);
    &-info {
      display: flex;
      flex-direction: column;
    }
    &-email {
      line-height: 16px;
    }
  }
}
