.SidebarWidget {
  box-sizing: border-box;

  border-radius: 12px;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px 0 rgba($color: #141414, $alpha: 0.1);
  overflow: hidden;

  &:has(a.SidebarWidget-header) {
    &:hover {
      border-color: rgba($color: #ffffff, $alpha: 0.2);
    }

    .SidebarWidget-header {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background: rgba(0, 0, 0, 0.015);
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;

    svg {
      width: 16px;
      height: 16px;
      color: #666666;
    }
  }

  &-title {
    display: flex;

    flex-grow: 1;
    align-items: center;
    gap: 8px;

    h5 {
      margin: 0;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-left: 2px;
      color: #666666;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    padding: 12px;
    border-top: 1px solid #d9d9d9;
  }

  &-formRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
  }
}
