.Projects {
  display: flex;
  flex-direction: row;

  height: 100%;
  overflow: hidden;

  &-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;

    .ant-select {
      width: 208px;
    }
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 8px 12px;
    background-color: #ffffff;
    border-radius: 16px;

    overflow: auto;

    h2 {
      margin: 0;
    }
  }
}

.ProjectRow {
  display: flex;
  gap: 12px;
  row-gap: 8px;
  flex-wrap: nowrap;
  align-items: flex-start;

  &-headline {
    flex-grow: 1;

    > h5,
    div {
      margin: 0;
    }
  }

  &-summary {
    display: flex;
    flex-shrink: 0;
    gap: 12px;

    padding-top: 2px;

    &-item {
      .ant-statistic-title {
        margin-bottom: 0;
      }
    }
  }
}

.ProjectPage {
  &-overview {
    &-header {
      display: flex;
      align-items: baseline;
      gap: 8px;

      h5 {
        flex-grow: 1;
      }
    }
  }

  &-chart {
    width: 200px;
    height: 100px;

    &-tooltip {
      background-color: #333333;
      color: #ffffff;
      padding: 8px;
      border-radius: 8px;
      font-size: 12px;
      line-height: 14px;

      .label,
      .value {
        margin: 0;
      }

      .label {
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
  }
}

.AddToProjectModal-form-item {
  width: 100%;
  .ant-form-item-control-input-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
  }

  .ant-select:first-child {
    width: auto;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .ant-select:last-child {
    flex-basis: 160px;
    flex-grow: 0;
    flex-shrink: 1;
  }
}
