.SideList {
  flex-shrink: 0;
  width: 380px;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #eeeeee;
  padding: 4px;

  overflow: auto;

  &-item {
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;

    transition: background-color 0.12s;

    &:hover {
      background-color: #f5f5f5;
    }

    &._selected {
      background-color: #f0f0f0;
    }
  }
}
