.Page {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  &-header {
    padding-top: 18px;
    padding-bottom: 16px;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 0;

    &-title {
      flex-grow: 1;

      h1 {
        margin: 0;
      }
    }

    &-actions {
      display: flex;
      flex-direction: row;
      gap: 8px;
      margin-right: 12px;
      padding-bottom: 4px;
    }
  }

  &-content {
    height: 100%;
    border-top-left-radius: 16px;
    overflow: auto;

    background-color: #ffffff;
  }
}
